[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SNSequate"]
	path = SNSequate
	url = https://github.com/cran/SNSequate
	shallow = true
	registered = true
